
body, html {
	padding: 0px;
	margin: 0px;
}

#top-bar{
	background-color: #252525;
	color: white;
	padding: 5px 8%;
}


.left{
	float:left;
}


.right{
	float:right;
}


#top-bar li{
	display: inline-block;
	padding: 5px;
	margin: 0;
}


#top-bar ul {
	margin: 0px;
}

#top-bar a{
	color: white;
}

#top-bar a:hover{
color: #209970;
}



.standard-padding{
	padding: 5px 8%;
}

header{
	background-color: blue;
	color: white;
}


.bold-text{
	font-weight: bold;
}

.text-x2{
	font-weight: 120px;
}


.circle{
	border-radius: 50%;
}

.border{
	border: 1px solid;
}

.p-5{
	padding: 5px;
}

.p-10{
	padding: 10px;
}


.m-5{
	margin: 5px;
}

.m-10{
	margin: 10px;
}

.d-inline{
	display: inline-block;
}

nav{
	
	padding: 5px 8%;
}

nav ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	padding-top: 5px;
}

nav ul li{
	display: inline-block;
	padding: 5px 10px;
}

nav ul li a{
	color: black;
	text-decoration: none;
	padding: 5px;
	font-size: 13px;
	text-transform: uppercase;
}


nav ul li:hover{
	background-color: blue
}


nav ul li:hover a{
	color: white;
}


.slider-area{
	height: 70vh;
	background-image: url(images/banner1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;

}

.slider-area > div{
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-area h3{
font-size: 52px;

}


.secondary-color{
color: #28cac8;
}

button {
	font-size: 15px; 
	border-radius: 15px;
	padding: 8px 4px;
	margin-left: 7px;
	border-style: none;

}

.active{
	background-color: #0e539c;
	color: white;
}
button.active:hover{
	background-color: white;
	color: black;
}

.white-section{
text-align: center;
position: relative;
}

.white-section h2{
	font-size: 40px;

}

.white-section h2::before{
	font-size: 40px;
	width: 200px; 
	content: 'x';
	height: 2px;
	background-color: #666;
	color: white;
	position: absolute;
	top: 90px;
	left: 47%;

}

.white-section h2::after{
	font-size: 40px;
	width: 200px; 
	content: 'w';
	background-color: #666;
	color: white;
	position: absolute;
	top: 95px;
	height: 2px;
	left: 46%;
}	


.left {
	width: 30%;
	margin-left: 3px;
	overflow: hidden;
}
.left > img:hover{

	transform: rotate(4deg) scale(1.1, 1.1); 

}

.left > img{
	transition: all .2s linear;

}

.imageee{
	display: flex;
	flex-direction: column;
	background-image: url(images/event.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;


}

.imageee > div{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(0, 0, 0, .5);
	height: 100%;
}
.rol{
	display: inline-block;
	float: left;
	border-radius: 2px;
	text-align: center;
	padding: 1px;
	width: 40%;
	background-color: blue;
}

.we-meet{

	float: right;
color: white;
width: 50%;

}